*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --body-background: rgba(228, 202, 168);
  --font-color-bk: #010101;
  --font-color-wt: #f1f1f1;
  --green-color: rgb(127, 247, 127);
}

body {
  background: var(--body-background);
  color: var(--font-color-bk);
  /* width: 100%; */
}

label {
  display: inline-block;
  /* background-color: var(--green-color); */
  margin: 0.5rem 0;
}

